extends layout

block content
  div.content
    h1 Welcome to the Generic Library
    div.library-front-page-links
      ul
        li
          a.button.page(href="/books") Books
        li
          a.button.page(href="/author") Authors


    div.enter-weebrary
      h4
        a.button.page-section2(href='/manga') Click to Enter Manga Section
